@use "variables";

* {
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

h1 {
    color: variables.$color-primary;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 40px 0 70px 0;
    text-shadow: 1px 1px 1px variables.$color-primary;

    &::after {
        content: "";
        width: 70px;
        height: 2px;
        display: block;
        background-color: variables.$color-primary;
        margin: auto;
        margin-top: 6px;
    }
}

h2 {
    font-weight: 400;
    text-transform: uppercase;
}